@model $safeprojectname$.Models.LocalPasswordModel
@{
    ViewBag.Title = "계정 관리";
}

<header>
    <h1>@ViewBag.Title</h1>
</header>

<div id="main-content">
    <p class="message-success">@ViewBag.StatusMessage</p>

    <p>다음으로 로그인되었음: <strong>@User.Identity.Name</strong>.</p>
    <p>@Html.ActionLink("내 할 일 모음으로 돌아가기", "Index", "Home")</p>

    <section class="todoList">
    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    { 
        @Html.Partial("_SetPasswordPartial")
    }
    </section>

    <section class="todoList" id="externalLogins">
        @Html.Action("RemoveExternalLogins")

        <h3>외부 로그인 추가</h3>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}