@model $safeprojectname$.Models.LoginModel

@{
    ViewBag.Title = "사용자 계정";
}

@section Header {
    @Html.ActionLink("Back", "Index", "Home", null, new { data_icon = "arrow-l", data_rel = "back" })
    <h1>@ViewBag.Title</h1>
}

<p>
    로 로그인되었습니다.<strong>@User.Identity.Name</strong>(으)로 로그인되었습니다.
</p>

<ul data-role="listview" data-inset="true">
    <li>@Html.ActionLink("암호 변경", "ChangePassword")</li>
    <li>@Html.ActionLink("로그오프", "LogOff")</li>
</ul>